body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

a{
    color:#353740;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    /* transition: all 0.5s; */
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

div.borderBottom {
    border-bottom-style: solid;
}


div.margin {
    margin: 5%;
}

#background {
    word-wrap: break-word;
    font-size: 130%;
    text-align: left;
    line-height: 1.8;
    margin: 0% 0% 0% 0%;
}

img.Titlerelative {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

.size {
    height: 100%;
    width: 100%;
}

.textCenter {
    text-align: center;
    font-size: 150%;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 1rem;
    font-weight: bolder;
}

.columnBorder {
    border: 1% solid rgb(64, 62, 60)
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

Responsive layout - makes the three columns stack on top of each other instead of next to each other
@media screen and (max-width:600px) {
    .column {
    width: 100%;
    }
}

.column2 {
    float: left;
    width: 30%;
    padding: 10px;
    color: #fff;
}

.columnSpace {
    float: left;
    width: 5%;
    padding: 10px;
}

/* Style the footer */
.footer {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: #7ba1a8;
    color: #BFCFD4;
    margin-right: auto;
    margin-left: auto;
}

#contact {
    font-weight: normal;
    margin: 0% 0% 0% 0%;
    font-size: 18px;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*底部图片*/
img.LogoBottom {

    max-height: 12rem;
    max-width: 12rem;
    float: left;

    /* background-color: #7ba1a8; */
    display: inline-block;


    position: relative;
}

.footertext {
    flex-direction: row;
    float: left;
    position: relative;
    padding: 30px;
    /* background-color: #7ba1a8; */
}

.footerlist {
    margin-left: 0;
    list-style-type: none;
    padding: 0;
}

.footerlist li {
    font-size: large;
}

/* 底部社交符号*/
.footer i {
    color: #BFCFD4;
    margin: 0 0.5rem 0 0.5rem;
}

.footer a {
    color: #BFCFD4;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

li {
    width:450px;
}


/* First Club */
#myBtn1 {
    padding: 0px 0px 0px 0px;
    border: none;
    font-size: 0%;
    transition: all 0.2s ease-in-out;
}

#myBtn1:hover {
    transform: scale(1.2);
}

#modal-content1 {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    word-wrap: break-word;
    line-height: 1.8;
    font-size: 110%;
    text-align: center;
}

#club-introduction1 {
    margin: 10%;
    font-weight: normal;
}

.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.8;
}


/* Second Club */
#myBtn2 {
    padding: 0px 0px 0px 0px;
    border: none;
    font-size: 0%;
    transition: all 0.2s ease-in-out;
}

#myBtn2:hover {
    transform: scale(1.2);
  }

#modal-content2 {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    word-wrap: break-word;
    line-height: 1.8;
    font-size: 110%;
    text-align: center;
}

#club-introduction2 {
    margin: 10%;
    font-weight: normal;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.8;
}


/* Third Club */
#myBtn3 {
    padding: 0px 0px 0px 0px;
    border: none;
    font-size: 0%;
    transition: all 0.2s ease-in-out;
}

#myBtn3:hover {
    transform: scale(1.2);
  }

#modal-content3 {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    word-wrap: break-word;
    line-height: 1.8;
    font-size: 110%;
    text-align: center;
}

#club-introduction3 {
    margin: 10%;
    font-weight: normal;
}

.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.8;
}


/* Forth Club */
#myBtn4 {
    padding: 0px 0px 0px 0px;
    border: none;
    font-size: 0%;
    transition: all 0.2s ease-in-out;
}

#myBtn4:hover {
    transform: scale(1.2);
  }

#modal-content4 {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    word-wrap: break-word;
    line-height: 1.8;
    font-size: 110%;
    text-align: center;
}

#club-introduction4 {
    margin: 10%;
    font-weight: normal;
}

.close4 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close4:hover,
.close4:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.8;
}


/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}


