body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

div.borderBottom {
    border-bottom-style: solid;
}

div.margin {
    margin: 5%;
}

img.Titlerelative {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

.size {
    height: 100%;
    width: 100%;
}

.textCenter {
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 15px;
    font-weight: bolder;
}

.columnBorder {
    border: 1% solid rgb(64, 62, 60)
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other
@media screen and (max-width:600px) {
    .column {
    width: 100%;
    }
} */

.column2 {
    float: left;
    width: 30%;
    padding: 10px;
    color: #fff;
}

.columnSpace {
    float: left;
    width: 5%;
    padding: 10px;
}

/* Style the footer */
.footer {
    justify-content: flex-start;
    display: flex;
    padding: 20px;
    background-color: #7ba1a8;
    color: #BFCFD4;
    align-items: center
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*底部图片*/
img.LogoBottom {
    position: relative;
    max-height: 150px;
    float: left;
    margin: 30px 30px 30px 10px;

    background-color: #7ba1a8;
    /* display: inline-block; */
}

.footertext {
    flex-direction: row;
    float: left;
    position: relative;
    padding: 30px;
    /* background-color: #7ba1a8; */
}

.footerlist {
    margin-left: 0;
    list-style-type: none;
    padding: 0px;
}

/* 底部社交符号*/
i {
    color: #BFCFD4;
    margin: 0 0.5rem 0 0.5rem;
}