* {
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    padding: 10px;
    background: #f1f1f1;
}

/*顶部图片*/
img.Logorelative {
    position: relative;
    height: 100%;
    width: 100%;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

/* Style the top navigation bar */
.topnav {
    font-size: 150%;
    overflow: hidden;
    background-color: #7ba1a8;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*背景图片平铺*/
/* img.Logorelative{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index:-1;
    zoom: 1;
    background-color: #fff;background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;-o-background-size: cover;
    background-position: center 0;
} */

/*底部图片*/
img.LogoBottom {
    position: relative;
    max-height: 150px;
    float: left;
    margin-right: 50px;
    margin-top: 10px;
    background-color: #7ba1a8;
    /* display: inline-block; */
}

.footercolumn {
    font-size: 100%;
    float: left;
    position: relative;
    padding-right: 30px;
    /* background-color: #7ba1a8; */
}

/* 底部社交符号*/
i {
    color: #BFCFD4;
    margin: 0 0.5rem 0 0.5rem;
}

/* Post Page */
.Announcement {
    text-align: left;
    margin: 1em auto;
    border-color: #7ba1a8;
    border-style: solid;
}

.left {
    text-align: left;
    margin: 0 auto;
}

.middle {
    text-align: center;
    margin: 0 auto;
}

.right {
    text-align: right;
    margin: 0 auto;
}

.formTitle {
    font-size: 1.5em;
    /* padding: 2ex; */
    width: 90%;
}

.formText {
    padding: 1ex;
    width: 100%;
    text-align: left;
}

.submitButton {
    padding: 0.5em;
    border: none;
    text-align: left;
    color: white;
    background-color: #7ba1a8;
}

/* Style the footer */
.footer {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: #7ba1a8;
    color: #BFCFD4;
    margin-right: auto;
    margin-left: auto;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*底部图片*/
img.LogoBottom {

    max-height: 12rem;
    max-width: 12rem;
    float: left;

    background-color: #7ba1a8;
    /* display: inline-block; */
}

.footertext {
    flex-direction: row;
    float: left;
    position: relative;
    padding: 30px;
    /* background-color: #7ba1a8; */
}

.footerlist {
    margin-left: 0;
    list-style-type: none;
    padding: 0;
}

.footerlist li {
    font-size: large;
}

/* 底部社交符号*/
.footer i {
    color: #BFCFD4;
    margin: 0 0.5rem 0 0.5rem;
}

.footer a {
    color: #BFCFD4;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}