/*--reset--*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--start editing from here--*/
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*--end reset--*/

/* 背景 */
body {
    font-family: Verdana;
    background: #a0e0e0 0px 0px;
    background-attachment: fixed;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
}


/*--main--*/
/* class:main */
.main {
    padding: 3em 0 0;
}

/* class:main-information */
.main-information {
    width: 30%;
    margin: 3em auto;
}


/*--//main--*/
.login-top {
    padding: 2em 3em;
}

/* 虚线 text password */
.login-top input[type="text"],
.login-top input[type="password"] {
    outline: none;
    font-size: 1em;
    color: #999;
    padding: 10px 30px 10px 10px;
    margin: 0;
    width: 89.87%;
    border: none;
    border-bottom: 2px dashed #7ba1a8;
    margin-bottom: 2em;

}

.login-top input[type="text"]:focus,
.login-top input[type="password"]:focus {
    border-bottom-style: solid;
}


/*--checkbox--*/
.login-top input[type="checkbox"] {
    display: none;
}


/* forget和login/signup在同一行 */
.login-bottom li {
    display: inline-block;

}


/* login按钮 submit*/
.login-bottom input[type="submit"] {

    color: #fff;
    background: #7ba1a8;
    border: 3px solid;
    outline: none;
    cursor: pointer;
    padding: 7px 20px;
    float: right;
}

/* submit按钮变白色 */
.login-bottom input[type="submit"]:hover {
    background: #fff;
    color: #7ba1a8;
    border-color: #7ba1a8;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    float: right;
}


/******** SAP ************/
/* login和register剧中 */
.resp-tabs-list {
    list-style: none;
    text-align: center;
}

/* 上面按钮 */
.resp-tab-item {
    font-size: 1.5em;
    float: center;
    padding: 15px 0;
}

.resp-tab-active {
    text-shadow: none;
    color: #fff;
    background: #7ba1a8;
}

/* 中间白框 */
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-item label {
    margin-right: 8px;
}

/* Style the footer */
.footer {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: #7ba1a8;
    color: #BFCFD4;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*底部图片*/
img.LogoBottom {

    max-height: 12rem;
    max-width: 12rem;
    float: left;

    background-color: #7ba1a8;
    /* display: inline-block; */
}

.footertext {
    flex-direction: row;
    float: left;
    position: relative;
    padding: 30px;
    /* background-color: #7ba1a8; */
}

.footerlist {
    margin-left: 0;
    list-style-type: none;
    padding: 0px;
}

.footerlist li {
    font-size: large;
}

/* 底部社交符号*/
.footer i {
    color: #BFCFD4;
    margin: 0 0.5rem 0 0.5rem;
}

/*--//copyright--*/
/*---- responsive-design -----*/
/* 适合不同大小的页面 */
/*
@media(max-width:1366px){
.main-info {
    width: 32%;
}
}

@media(max-width:1280px){
.main-info {
    width: 34%;
}
.social-icons ul li a span {
    padding: 0;
}
}

@media(max-width:1080px){
.main-info {
    width: 40%;
}
}

@media(max-width:991px){
.main-info {
    width: 45%;
}
.login-top {
    padding: 2em 2.5em;
}
}
@media(max-width:900px){
.social-icons ul li span.icons {
    height: 43px;
}
}

@media(max-width:800px){
.main-info {
    width: 53%;
}
.login-top {
    padding: 2em;
}
}
@media(max-width:640px){
.main-info {
    width: 58%;
}
}
@media(max-width:480px){
.main {
    padding: 2em 0 0;
}
h1 {
    font-size: 2.5em;
}
.main-info {
    width: 74%;
    margin: 2em auto;
}
.resp-tab-item {
    font-size: 1.3em;
}
.login-top input[type="text"], .login-top input[type="password"] {
    font-size: 0.9em;
}
.login-top input[type="checkbox"]+label {
    font-size: 0.9em;
}
.login-top input[type="checkbox"]+label span:first-child {
    width: 12px;
    height: 12px;
    top: 2px;
}
.login-bottom a {
    font-size: 0.9em;
}
.login-bottom input[type="submit"] {
    font-size: 0.8em;
}
.social-icons ul li a span.text {
    font-size: 0.9em;
}
.social-icons ul li span.icons,.social-icons ul li.twt span.icons,.social-icons ul li.ggp span.icons,.social-icons ul li.pin span.icons {
    background-size: 30%;
}
.login-top input[type="checkbox"]:checked+label span:first-child:before {
    left: 1px;
    top: 1px;
}
.copyright p {
    font-size: 0.9em;
}
.login-top input[type="text"], .login-top input[type="password"] {
    width: 83%;
	margin-bottom: 1.5em;
}
}
@media(max-width:414px){
h1 {
    font-size: 2em;
}
.resp-tab-item {
    font-size: 1.2em;
    padding: 12px 0;
}
.main-info {
    width: 79%;
}
.login-top {
    padding: 2em 1.5em;
}
.copyright {
    margin: 2em 1em 1em;
}

}
@media(max-width:320px){
h1 {
    font-size: 1.8em;
}
.resp-tab-item {
    font-size: 1em;
    padding: 10px 0;
}
.main-info {
    width: 85%;
}
.login-top input[type="text"], .login-top input[type="password"] {
    font-size: 0.85em;
}
.login-top input[type="checkbox"]+label {
    font-size: 0.85em;
}
.login-bottom a {
    font-size: 0.85em;
}
.social-icons ul li {
    float: none;
    width: 100%;
}
.social-icons ul li a span.text {
    font-size: 0.85em;
}
.login-bottom input[type="submit"] {
    font-size: 0.75em;
    padding: 6px 17px;
}
}

--//responsive-design--- */